@model Cellphone.Models.Banner

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<div class="breadcumb d-flex flex-row mb-3">
    @Html.ActionLink("Sản phẩm", "Index", null, new { @class = "bc-prev nav-link" })
    <a href="#" class="nav-link">Chỉnh sửa sản phẩm</a>
</div>
<h5 class="title">Chỉnh sửa thông tin sản phẩm</h5>
<p>Chỉnh sửa các mục cho phép</p>
<div class="row">
    <div class="col-8">
        <div class="create-form">
            @using (Html.BeginForm("Edit", "Banner", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row mb-4">
                    <div class="col">
                        <div class="form-outline">
                            @Html.EditorFor(model => model.Ten, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Ten, "", new { @class = "text-danger" })
                            @Html.LabelFor(model => model.Ten, htmlAttributes: new { @class = "form-label" })
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <div class="form-outline">
                                    @Html.DropDownList("NoiDung", null, htmlAttributes: new { @class = "select w-100" })
                                    @Html.ValidationMessageFor(model => model.NoiDung, "", new { @class = "text-danger" })
                                    @Html.LabelFor(model => model.NoiDung, "Nội dung", htmlAttributes: new { @class = "form-label " })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Text input -->
                <div class="row">
                    @*<div class="col">
                        <div class="form-outline mb-4">
                            @Html.EditorFor(model => model.GiaMua, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.GiaMua, "", new { @class = "text-danger" })
                            @Html.LabelFor(model => model.GiaMua, "Giá mua", htmlAttributes: new { @class = "fomr-label " })
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-outline mb-4">
                            @Html.EditorFor(model => model.GiaBan, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.GiaBan, "", new { @class = "text-danger" })
                            @Html.LabelFor(model => model.GiaBan, "Giá bán", htmlAttributes: new { @class = "form-label " })
                        </div>
                    </div>*@
                    <div class="col">
                        <div class="file-upload">
                            <div class="file-select">
                                <div class="file-select-button" id="fileName">
                                    Choose Image
                                </div>
                                <div class="file-select-name" id="noFile">
                                    No file chosen...
                                </div>
                                <input type="file" id="HinhAnh" name="HinhAnh" onchange="previewImage(event)" />
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <select class="select w-100" id="TrangThai" name="TrangThai" value="@Model.TrangThai">
                            <option value="Hết hàng">Hết hàng</option>
                            <option value="Còn Hàng">Còn Hàng</option>
                            <option value="Ẩn">Ẩn</option>
                        </select>
                    </div>
                </div>

                <div class="form-outline mb-4">
                    <textarea class="form-control"
                              id="form6Example7"
                              rows="4"></textarea>
                    <label class="form-label" for="form6Example7">Note</label>
                </div>

                <!-- Submit button -->
                <button type="submit"
                        class="btn btn-clr-normal btn-block mb-4">
                    Create
                </button>
            }
        </div>
    </div>
    <div class="col-3">
        <div class="form-outline mb-4">
            <div id="imagePreview" class="default-img-wrapper">
                @if (Model.HinhAnh == null)
                {
                    <img src="../../../images/default.jpg" alt="" />
                }
                else
                {
                    <img src="@Url.Content("~/Images/Banner/" + @Model.HinhAnh)" alt="" />
                }
            </div>
            <label class="form-label" for="form6Example4">Image</label>
        </div>
    </div>
    <script>
            function previewImage(event) {
                var input = event.target;
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        var img = document.createElement("img");
                        img.src = e.target.result;
                        img.width = 200; // Thay đổi kích thước hình ảnh tại đây
                        var container = document.getElementById("imagePreview");
                        container.innerHTML = "";
                        container.appendChild(img);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }

    </script>
</div>


