@model IEnumerable<Cellphone.Models.Banner>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<div class="main-content rounded-3 border border-2 py-4 px-3">
    <div class="table-header d-flex flex-row justify-content-between">
        <div class="mh-100">
            <h5 class="title">Danh mục banner</h5>
        </div>
        <div class="flex-end me-2">
            <button class="btn btn-clr-normal">
                @Html.ActionLink("Thêm", "Create", null, new { @class = "nav-link" })
            </button>
        </div>
    </div>
    <div class="text-white">
        <div class="bg-white">
            <table class="table align-middle mb-0">
                <thead class="">
                    <tr>
                        <th>Hình ảnh</th>
                        <th>Tên </th>
                        <th>Ngày tạo</th>
                        <th>Cập nhật lần cuối</th>
                        <th>Khác</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            <div class="image-index default-img-wrapper">
                                @if (item.HinhAnh == null)
                                {
                                    <img src="../../../images/default.jpg" alt="" />
                                }
                                else
                                {
                                    <img src="@Url.Content("~/Images/Banner/" + @item.HinhAnh)" alt="" />
                                }
                            </div>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ten)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Created_at)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Updated_at)
                        </td>
                        <td class="mw-80">
                            <div class="d-flex flex-row gap-1">
                                <a href="@Url.Action("Edit", "Banner", new { id = item.ID})" class="nav-link">
                                    <i class="fa-solid fa-pen"></i>
                                </a>
                                <a href="@Url.Action("Delete", "Banner", new { id = item.ID})" class="nav-link">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
