@model Cellphone.Models.SanPham

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="breadcumb d-flex flex-row mb-3">
        <a href="./index.html" class="bc-prev nav-link">Product</a>
        <a href="#" class="nav-link">Create Product</a>
    </div>
    <h3 class="title">Create Product</h3>
    <p>sub title</p>
    <div class="row create-form">
        <div class="col-8">
            <form class="">
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row mb-4">
                    <div class="col">
                        <div class="form-outline">
                            @Html.EditorFor(model => model.TenSP, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TenSP, "", new { @class = "text-danger" })
                            @Html.LabelFor(model => model.TenSP, "Product Name", htmlAttributes: new { @class = "form-label" })
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-outline">
                            @Html.DropDownList("LoaiSP", null, htmlAttributes: new { @class = "select w-100" })
                            @Html.ValidationMessageFor(model => model.LoaiSP, "", new { @class = "text-danger" })
                            @Html.LabelFor(model => model.LoaiSP, "Category", htmlAttributes: new { @class = "form-label" })
                        </div>
                    </div>
                </div>

                <!-- Text input -->
                <div class="row">
                    <div class="col-4">
                        <div class="form-outline mb-4">
                            @Html.EditorFor(model => model.GiaBan, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.GiaBan, "", new { @class = "text-danger" })
                            @Html.LabelFor(model => model.GiaBan, htmlAttributes: new { @class = "form-label" })
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-outline mb-4">
                            @Html.EditorFor(model => model.GiaMua, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.GiaMua, "", new { @class = "text-danger" })
                            @Html.LabelFor(model => model.GiaMua, "Cost", htmlAttributes: new { @class = "form-label" })
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="file-upload">
                            <div class="file-select">
                                <div class="file-select-button" id="fileName">
                                    Choose Image
                                </div>
                                <div class="file-select-name" id="noFile">
                                    No file chosen...
                                </div>
                                <input type="file" name="chooseFile" id="chooseFile" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-outline mb-4">
                    <textarea class="form-control"
                              id="form6Example7"
                              rows="4"></textarea>
                    <label class="form-label" for="form6Example7">Note</label>
                </div>

                <div class="form-check d-flex mb-4">
                    <input class="form-check-input me-2"
                           type="checkbox"
                           value=""
                           id="form6Example8"
                           checked />
                    <label class="form-check-label" for="form6Example8">
                        Create an account?
                    </label>
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-clr-normal btn-block mb-4">
                    Create
                </button>
            </form>
        </div>
        <div class="col-3">
            <div class="form-outline mb-4">
                <div class=" default-img-wrapper">
                    <img src="../../../images/default.jpg" alt="" />
                </div>
                <label class="form-label" for="form6Example4">Image</label>
            </div>
        </div>
    </div>
}

@*    <div class="form-horizontal">
        <h4>SanPham</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.TenSP, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenSP, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenSP, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GiaBan, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GiaBan, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GiaBan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GiaMua, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GiaMua, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GiaMua, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SoLuong, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SoLuong, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SoLuong, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HinhAnh, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HinhAnh, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HinhAnh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LoaiSP, "LoaiSP", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("LoaiSP", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LoaiSP, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Hang, "Hang", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Hang", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Hang, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TrangThai, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TrangThai, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TrangThai, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}*@

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
