@model IEnumerable<Cellphone.Models.SanPham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<div class="information">
    <div class="row">
        <div class="col">
            <div class="info-card d-flex flex-col gap-4">
                <h4>20%</h4>
                <div>sub title</div>
            </div>
        </div>
        <div class="col">
            <div class="info-card d-flex flex-col gap-4">
                <h4>20%</h4>
                <div>sub title</div>
            </div>
        </div>
        <div class="col">
            <div class="info-card d-flex flex-col gap-4">
                <h4>20%</h4>
                <div>sub title</div>
            </div>
        </div>
        <div class="col">
            <div class="info-card d-flex flex-col gap-4">
                <h4>20%</h4>
                <div>sub title</div>
            </div>
        </div>
    </div>
</div>
<div class="main-content rounded-3 border border-2 py-4 px-3">
    <div class="table-header row">
        <div class="col-3">
            <h3 class="title">Product List</h3>
            <p>sub title</p>
        </div>
        <div class="col text-end me-2">
            <button class="btn btn-clr-normal">
                @Html.ActionLink("Add Product", "Create",null, new { @class="nav-link"})
            </button>
        </div>
    </div>
    <div class="text-white">
        <div class="bg-white">
            <table class="table align-middle mb-0">
                <thead class="">
                    <tr>
                        <th>Tên sản phẩm</th>
                        <th>Giá bán</th>
                        <th>Giá mua</th>
                        <th>Hãng</th>
                        <th>Số lượng</th>
                        <th>Khác</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    @Html.DisplayFor(modelItem => item.TenSP)
                                </div>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.GiaBan)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.GiaMua)
                            </td>
                            <td>@Html.DisplayFor(modelItem => item.Hang)</td>
                            <td>@Html.DisplayFor(modelItem => item.SoLuong)</td>
                            <td class="mw-80">
                                <div class="d-flex flex-row gap-2">
                                    <button type="button"
                                            class="btn btn-link btn-sml btn-clr-normal btn-sm btn-rounded">
                                        @*<a href="./edit.html" class="nav-link"> Edit </a>*@
                                        <a href="@Url.Action("Edit", "SanPham")" class="nav-link">
                                            <i class="fa-solid fa-pen"></i>
                                        </a>
                                    </button>
                                    <button type="button"
                                            class="btn btn-link btn-sml btn-clr-danger btn-sm btn-rounded">
                                        <a href="#" class="nav-link"> Delete </a>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        }
                    </tbody>
            </table>
        </div>
    </div>
</div>
